{% extends "layout.html" %}

{% block content %}

<h1>{{title}}</h1>


<div class="form-group">
<form action='/submit' method='post'>
	<label for="input_page_title">enter your very own page title, yo</label>
	Page Title: <input type="text" name="input_page_title" value="Page Title"><br>
	<label for="content">enter the content of your page!!</label>
	<input type="text" name="content" value="Content"><br>
	<input type="submit" value="Submit">
</form>
</div>




{% endblock %}

<!--


<form>
  <div class="form-group">
  	<form action='/add/submit' method='post'>
    <label for="exampleInputEmail1">enter your very own page title!!</label>
    <input type="page title" class="form-control" id="pageTT" placeholder="PAGE TITLE">
  	<label for="content_stuff">enter the content of your page!!</label>
	<textarea class="form-control" rows="6"></textarea>
	<button type="submit" class="btn btn-default">Submit</button>
</div>
</form>

-->